@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: #000000;
}

.Meant-img-1 {
    background-image: url(./image/2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0.1px;
}

.Meant-img-2 {
    background-image: url(./image/1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 224px;
    height: 78px;
    margin-top: 62px;
    margin-right: 0px;
    margin-left: 165px;
}

.Meant-text {
    margin: 100px;
    color: white;
}

.Meant-text-1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    margin: 144px 20px 0;
}

.Meant-text-2 {
    margin: 42px 20px 50px;
    max-width: 472px;
    font-size: 68px;
}

.Luxury-found-img-1 {
    background-image: url(./image/3.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 493px;
    padding: 0.1px;
}

.Luxury-found-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    margin-left: 680px;
    margin-top: 77px;
    color: #000000;
}

.Luxury-found-text-1 {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Roboto, sans-serif;
    font-size: 19px;
}

.Luxury-found-text-2 {
    color: white;
    max-width: 461px;
    font-size: 50px;
    font-weight: bold;
}

.Luxury-found-text-3 {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.Luxury-found-text-4 {
    max-width: 413px;
    color: white;
    font-style: italic;

}

.video-1 {
    width: 100%;
    height: 593px;
}

@media only screen and (max-width: 400px) {


    .Meant-text-1 {
        text-transform: uppercase;
        font-size: 21px;
        margin: 145px 6px 0;
    }

    .Meant-text-2 {
        max-width: 465px;
        margin: 7px 1px 1px;
        font-size: 42px;
    }

    .Meant-img-2 {
        background-image: url(./image/1.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 224px;
        height: auto;
        margin-top: 62px;
        margin-right: 0px;
        margin-left: 1px;
    }

    .Meant-text {
        margin: 64px;
        color: white;
    }

    .Luxury-found-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: flex-start;
        margin-left: 1px;
        margin-top: 1px;
        color: #000000;
        padding: 34px;
        padding-top: 110px;
    }

    .Luxury-found-text-4 {
        max-width: 413px;
        color: white;
        font-style: italic;
        font-size: 14px;
    }

    .Luxury-found-text-3 {
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

    .Luxury-found-text-2 {
        color: white;
        max-width: 461px;
        font-size: 33px;
        font-weight: bold;
    }

    .Luxury-found-text-1 {
        color: white;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: Roboto, sans-serif;
        font-size: 15px;
    }

    .video-1 {
        width: 100%;
        height: 157px;
    }
}